#logger.config
[loggers]
keys=root

[logger_root]
level=DEBUG
handlers=file

#####

[handlers]
keys=file

[handler_console]
class= StreamHandler
level= DEBUG
formatter=console
args=[]

[handler_file]
class= FileHandler
level= DEBUG
formatter=file
args=('/projects/HtmlTableDecoder/logs/mayday.table.log','a')

#####

[formatters]
keys=file

[formatter_console]
format=%(asctime)s | [%(levelname)s] | %(message)s

[formatter_file]
format=%(asctime)s | [%(levelname)s] | %(message)s
